# install pytorch by hand
autograd
awkward
hyperopt==0.2.7 # if this does not work, try https://stackoverflow.com/questions/29286624/how-to-install-pypi-packages-using-anaconda-conda-command - now did it with pip install hyperopt==0.2.7 in conda
# pickle
# functools
numpy
pandas
pyspark==3.2.1 #f does not work, try:$ conda install -c conda-forge pyspark
openpyxl
numba
scikit-image==0.19.1
scikit-learn==1.0.2
scipy
seaborn
spyder
# torch==1.10.2
uproot
